@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --clr-white: rgb(241, 241, 241);
  --clr-dark: rgb(35, 35, 35);
  --clr-primary: rgba(126, 64, 246, 1);
  --clr-secondary: rgba(80, 139, 252, 1);

  --ff: "Rubik", system-ui;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff);
  color: var(--clr-white);
  background: var(--clr-primary);
  background: linear-gradient(
    to right,
    rgba(126, 64, 246, 1),
    rgba(80, 139, 252, 1)
  );
  font-weight: 300;
  letter-spacing: 0.75px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 50%;
  width: 650px;
  background: rgba(24, 24, 16, 0.2);
  background-clip: padding-box;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  border-radius: 2em;
  padding: 2rem;
  margin: auto;
}
header {
  text-align: center;
  flex-direction: column;
  margin-bottom: 0.625rem;
}
.logo {
  color: var(--clr-primary);
  background-color: var(--clr-white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 3rem;
  margin-bottom: 10px;
}
h1,
h2 {
  font-weight: 400;
}
h1 {
  font-size: 2.75;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5;
}
.form {
  gap: 0.5rem;
  padding: 2rem 0;
}
input,
form button,
select {
  background: var(--clr-white);
  color: var(--clr-dark);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  font-weight: 500;
}
table {
  width: 100%;
  background-color: var(--clr-dark);
  border-collapse: collapse;
}
tr:not(:last-child) {
  border-bottom: 1px solid gainsboro;
}
th,
td {
  text-align: left;
  padding: 1.1rem;
}
tr td:last-child {
  justify-content: flex-end;
  gap: 0.5rem;
}
tr td button {
  color: #fff;
}
.priority {
  color: var(--clr-white);
  font-size: 0.75rem;
  letter-spacing: 1.25px;
  padding: 5px 15px;
  border-radius: 3rem;
  text-transform: uppercase;
}
button {
  font-size: 0.825rem;
  border: none;
  outline: none;
  background-color: transparent;
}
