@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --clr-white: #f1f1f1;
  --clr-primary: rgba(126, 64, 246, 1);
  --clr-secondary: rgba(80, 139, 252, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", system-ui;
  color: var(--clr-white);
  background: #7e40f6;
  background: linear-gradient(
    to right,
    rgba(126, 64, 246, 1),
    rgba(80, 139, 252, 1)
  );

  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  margin: auto;
  width: 50%;
  min-width: 700px;
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  padding: 2rem;
}
header {
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo {
  color: var(--clr-primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--clr-white);
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

h1,
h2 {
  font-weight: 500;
  letter-spacing: 1.5px;
}
h1 {
  font-size: 2.75;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
}
input,
button,
select {
  background: var(--clr-white);
  color: #232323;
  border: none;
  padding: 12px 24px;
  border-radius: 5rem;
  font-weight: 500;
}
.todo-items {
  background-color: #232323;
  padding: 30px 20px;
}
.todo-item,
.todo-item div,
.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
  margin-bottom: 15px;
}
.btn {
  all: unset;
}
